/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* 1.1 typography */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
body {
  line-height: 31px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  overflow-x: hidden !important;
}

p, .paragraph {
  font-weight: 300;
  color: #4d546f;
  font-size: 17px;
  line-height: 31px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #091337;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 56px;
}

h2, .h2 {
  font-size: 43px;
}

h3, .h3 {
  font-size: 37px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 13px;
}

.btn {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 15px 60px;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background-image: linear-gradient(25deg, #17ffd3 0%, #d3fc71 95%);
  color: #091337;
  transition: background 1s ease-out;
}

.btn-primary:active {
  background: linear-gradient(25deg, #17ffd3 0%, #d3fc71 95%) !important;
}

.btn-primary:hover {
  background: linear-gradient(205deg, #17ffd3 0%, #d3fc71 95%);
  color: #091337;
}

.btn-secondary {
  background-image: linear-gradient(6deg, #17ffd3 0%, #23e3ee 100%);
  background-color: transparent;
  color: #091337;
}

.btn-secondary:active {
  background: linear-gradient(6deg, #17ffd3 0%, #23e3ee 100%) !important;
}

.btn-secondary:hover {
  background: linear-gradient(186deg, #17ffd3 0%, #23e3ee 100%);
  color: #091337;
}

.btn-lg {
  padding: 15px 85px;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #20a5ff;
  color: #fff;
}

::selection {
  background: #20a5ff;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a:hover {
  color: #008dec;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-lg {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (max-width: 575px) {
  .section-lg {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.section-title {
  margin-bottom: 30px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.page-title {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-primary {
  background: #008dec !important;
}

.bg-gray {
  background: #f2f3f5;
}

.text-primary {
  color: #008dec !important;
}

.text-dark {
  color: #091337 !important;
}

.text-purple {
  color: #9491ff !important;
}

.text-color {
  color: #4d546f;
}

.primary-shadow {
  box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
}

.border-blue {
  border-color: #dcebf4 !important;
}

.shadow-primary {
  box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
}

.facebook {
  color: #334bff;
}

.twitter {
  color: #45d9f0;
}

.linkedin {
  color: #1b91ff;
}

.black {
  color: #000;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.translate-y-150 {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

@media (max-width: 575px) {
  .translate-y-150 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.left-right-animation {
  animation: left_right 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes left_right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes left_right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.up-down-animation {
  animation: up_down 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes up_down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes up_down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.zindex-1 {
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: #091337;
}

.navigation {
  transition: .3s ease;
}

.navbar {
  transition: .3s ease;
}

@media (max-width: 991px) {
  .navbar-collapse {
    padding-bottom: 20px;
  }
}

.nav-bg {
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 141, 236, 0.1);
}

.nav-bg .navbar {
  padding: 10px 0;
}

.nav-item {
  padding: 20px 10px;
}

@media (max-width: 991px) {
  .nav-item {
    padding: 0;
  }
}

.hero-section {
  padding-top: 250px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 300px;
}

.banner-image {
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero-bg-1 {
  position: absolute;
  left: 30px;
  top: 200px;
}

@media (max-width: 767px) {
  .hero-bg-1 {
    display: none;
  }
}

.hero-bg-2 {
  position: absolute;
  top: 50%;
  left: 20%;
}

@media (max-width: 767px) {
  .hero-bg-2 {
    display: none;
  }
}

.hero-bg-3 {
  position: absolute;
  bottom: 0%;
  left: 10%;
}

@media (max-width: 767px) {
  .hero-bg-3 {
    display: none;
  }
}

.hero-bg-4 {
  top: 210px;
  right: 40%;
  position: absolute;
}

@media (max-width: 767px) {
  .hero-bg-4 {
    display: none;
  }
}

.hero-bg-5 {
  position: absolute;
  top: 250px;
  right: 17%;
}

@media (max-width: 767px) {
  .hero-bg-5 {
    display: none;
  }
}

.hero-bg-6 {
  position: absolute;
  right: 10%;
  bottom: 20%;
}

@media (max-width: 767px) {
  .hero-bg-6 {
    display: none;
  }
}

.hero-bg-7 {
  position: absolute;
  left: 20%;
  bottom: -17%;
  z-index: 1;
}

@media (max-width: 767px) {
  .hero-bg-7 {
    display: none;
  }
}

.hero-bg-8 {
  position: absolute;
  bottom: -30%;
  right: 50%;
  z-index: 1;
}

@media (max-width: 767px) {
  .hero-bg-8 {
    display: none;
  }
}

.hero-bg-9 {
  position: absolute;
  right: 20%;
  bottom: -10%;
  z-index: 1;
}

@media (max-width: 767px) {
  .hero-bg-9 {
    display: none;
  }
}

.feature {
  position: relative;
}

.feature-item h4 {
  line-height: 1;
}

.feature-item p {
  line-height: 25px;
}

.feature-item:hover .feature-icon {
  box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
}

.feature-bg-1 {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

@media (max-width: 767px) {
  .feature-bg-1 {
    display: none;
  }
}

.feature-bg-2 {
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: -1;
}

@media (max-width: 767px) {
  .feature-bg-2 {
    display: none;
  }
}

.feature-icon {
  display: inline-block;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  color: #fff;
  font-size: 45px;
  line-height: 90px;
  background: #008dec;
  box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.1);
  text-align: center;
  transition: .2s ease;
}




.newsletter {
  position: relative;
}

.newsletter-form {
  height: 85px;
  width: 100%;
  padding: 0 40px;
  border: 0;
  background: #fff;
  box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
  border-radius: 5px;
}

.newsletter-form:focus {
  outline: 0;
  box-shadow: 0;
}

.newsletter-btn {
  position: absolute;
  height: 100%;
  background: #8986ff;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .newsletter-btn {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.newsletter-bg-shape {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: -1;
}

@media (max-width: 767px) {
  .newsletter-bg-shape {
    display: none;
  }
}

.form-control {
  height: 65px;
  width: 100%;
  background: #f7fafc;
}

.form-control:focus {
  border-color: #008dec;
  box-shadow: none;
}

textarea.form-control {
  height: 157px;
}

.contact-bg {
  background-color: #f3f7fb;
}

.round-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.round-icon.green {
  background: #e0fef4;
  color: #00f7a7;
}

.round-icon.blue {
  background: #e0f1ff;
  color: #008cff;
}

.round-icon.orange {
  background: #fff1e0;
  color: #ff8b00;
}

.contact {
  position: relative;
}

.contact-bg-1 {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}

@media (max-width: 767px) {
  .contact-bg-1 {
    display: none;
  }
}

.contact-bg-2 {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: -1;
}

@media (max-width: 767px) {
  .contact-bg-2 {
    display: none;
  }
}

.contact-bg-3 {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: -1;
}

@media (max-width: 767px) {
  .contact-bg-3 {
    display: none;
  }
}

.contact-bg-4 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: -1;
}

@media (max-width: 767px) {
  .contact-bg-4 {
    display: none;
  }
}

.contact-bg-5 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: -1;
}

@media (max-width: 767px) {
  .contact-bg-5 {
    display: none;
  }
}

/*# sourceMappingURL=maps/style.css.map */
.my_comment .card-text{
  background: #cbd2d826;
  padding: 9px;
  border-radius: 8px;
}
.my_comment{
  box-shadow: 0 2px 20px #0e0e130d;
  border: 0px;
}
.divider{
  display: inline-block;
  background: red;
  transform: translateY(-8px);
}
.divider-1{
  width: 40px;
  height: 3px;
}
 .divider-2{
  width: 4px;
  height: 3px;
  margin-left: 2px;
}
.my_comment .count_reply{
  float: right;
}
.my_comment .reply-btn{
  text-decoration: underline;
}
.banner-image {
  top: 145% !important;
  width: 30% !important;
}
@media(max-width:576px){
  h1{
    font-size: 33px !important;
  }
  p , a{
    font-size: 14px !important;
    line-height: normal !important;
  }
  .banner-image {
    top: 166% !important;
    width: 88% !important;
  }
  h3, .h3 {
    font-size: 24px !important;
  }
  .btn {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 9px 26px;
}
  .navbar-collapse {
    position: fixed;
    top: 77px;
    left: 0px;
    width: 100%;
    background: white;
 }
}

#footer_txt{
  padding-bottom: 0 !important;
}
#footer_txt div{
  background-image: linear-gradient(25deg, rgb(23, 255, 211) 0%, rgb(211, 252, 113) 95%);
    color: rgb(9, 19, 55);
    margin-top: 40px;
    padding: 10px 0;
}
#footer_txt h5{
  margin-top: 10px !important;
}
.my_comment .card-body img{
  height: 60px;
  object-fit: cover;
}

.custom-alert {
  position: fixed;
  padding: 10px;
  top: 20px;      /* Distance from the top */
  right: 20px;    /* Distance from the right */
  z-index: 1050;  /* Ensure it appears on top of other content */
  width: auto;
  max-width: 350px;  /* Optional: Max width for alert */
  background-color: linear-gradient(25deg, rgb(23, 255, 211) 0%, rgb(211, 252, 113) 95%);
}

#over_flow{
  overflow-x: hidden !important;
}
@media(max-width: 576px){
  .my_comment .card-body img {
    height: 30px;
    width: 30px !important;
    object-fit: cover;
}
.my_comment .card-title{
  font-size: 12px !important;
  margin-left: 6px;
}
.my_comment small{
  font-size: 12px !important;
}
p, a {
  font-size: 12px !important;
  line-height: normal !important;
}
}